<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    <title>Управління категоріями</title>
</head>
<body>

<div align="center">

    <div>
        <h1>Управління категоріями</h1>
        <a href="new_category">Створити нову категорію</a>
    </div>

    <br>
    <br>

    <div>
        <table border="1" cellpadding="10" id="tableCat">
            <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${listCategory}">
                <td th:text="${category.id}">ID</td>
                <td th:text="${category.name}">Назва</td>
                <td><a th:href="@{'/edit_category/' + ${category.id}}">Редагувати</a>
                    &nbsp;&nbsp;&nbsp; <a th:href="@{'/delete2/' + ${category.id}}">Видалити</a>

                    <a href="/new_book" onclick="clickNew()">Додати книгу</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("tr").click(function () {
                localStorage.setItem('category',$(this)[0].firstElementChild.innerText);
            });
        });
    </script>
</div>
</body>
</html>