<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Бібліотекар</title>
</head>
<body>

<div align="center">

    <div>
        <h1>Управління книгами</h1>
        <a href="new" onclick="clickNew()">Додати книгу</a>
    </div>

    <div>
        <a href="category">Категорії</a>
    </div>
    <div>&nbsp;</div>

    <div>
        <form th:action="@{/index2}">
            <input type="text" name="keyword" th:value="${keyword}"
                           required /> &nbsp; <input type="submit" value="Знайти" /> &nbsp;
            <input type="button" value="Очистити" onclick="clearFilter()" />
        </form>
    </div>

    <div>&nbsp;</div>

    <div>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Автор</th>
                <th>Короткий опис</th>
                <th>Ідентифікатор</th>
                <th>Категорія</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${listBooks}">
                <td th:text="${book.id}">ID</td>
                <td th:text="${book.name}">Назва</td>
                <td th:text="${book.autor}">Автор</td>
                <td th:text="${book.description}">Короткий опис</td>
                <td th:text="${book.iden}">Ідентифікатор</td>
                <td th:text="${book.category}">Категорія</td>
                <td><a th:href="@{'/edit/' + ${book.id}}">Змінити</a>
                    &nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/' + ${book.id}}">Видалити</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        function clearFilter() {
            window.location = "/index2";
        }
        function clickNew() {
                localStorage.setItem('category',"");
            }
    </script>
</div>
</body>
</html>