<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Додавання нової книги</title>
</head>
<body>
<div align="center">
    <h1>Додавання нової книги</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${book}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Назва:</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Автор</td>
                <td><input type="text" th:field="*{autor}" /></td>
            </tr>
            <tr>
                <td>Короткий опис</td>
                <td><input type="text" th:field="*{description}" /></td>
            </tr>
            <tr>
                <td>Ідентифікатор</td>
                <td><input type="text" th:field="*{iden}" /></td>
            </tr>
            <tr>
                <td>Категорія</td>
                <td>
                    <select name="select"  id="selectCategory" onchange="fChange()">
                        <option th:each="category: ${listCategory}" th:text="${category.name}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit">Зберегти</button></td>
                <td><input type="text" id="input1" style="visibility: hidden" th:field="*{category}"/></td>
            </tr>

        </table>

    </form>
    <script type="text/javascript">
        let cat = localStorage.getItem('category');
        document.getElementById("selectCategory").options.selectedIndex = cat-1;
        document.getElementById("input1").value =  document.getElementById("selectCategory").value;
        function fChange() {
            document.getElementById("input1").value =  document.getElementById("selectCategory").value;
        }
    </script>
</div>
</body>
</html>